__pycache__/
*.py[cod]
.DS_Store
.build/

client/client_config.ini
client/logs/
client/qrcode.png
client/qrcode-url.txt
client/pulse/*.pulse
client/.venv-build/
client/build/
client/dist/

plugin/bin/
plugin/obj/
plugin/dist/
release/
remade/build/

.vscode/
.idea/
Thumbs.db
Desktop.ini
